stages:
  - build
  - test
  - post

build_job:
  stage: build
  image: node:18
  script:
    - npm install

test_job:
  stage: test
  image: node:18
  script:
    - npm test
  
post_to_sheet:
  stage: post
  image: curlimages/curl:8.10.1
  script:
    - |
      curl -X POST -H "Content-Type: application/json" \
        -d '{"tool":"GitLab CI/CD","run":1,"buildTime":90,"testTime":32,"status":"Success"}' \
        "https://script.google.com/macros/s/AKfycby_efCAW5NnY-XWtykFy6Tj_E43Aor0odrxTzS5_EjW7T-nFv3ts8yDZOJEhtiOI8SC9g/exec"
